site_name: Explorando QML
site_description: Guía de estudio de Quantum Machine Learning (UAO)

theme:
  name: material
  language: es
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - search.suggest
    - search.highlight
    - content.code.copy

nav:
  - Inicio: index.md
  - Fundamentos:
      - "Computación cuántica": computacion_cuantica.md
      - "Machine Learning clásico": machine_learning.md
      - "Conexión ML ↔ QML": conexion_qml.md



